In [3]:
import os
os.listdir()

['.ipynb_checkpoints', '095 supermarkets.json', 'Untitled.ipynb']

In [12]:
import pandas

In [1]:
df3

NameError: name 'df3' is not defined

In [6]:
df3 = pandas.read_json("https://pythonhow.com/supermarkets.json")
df3

NameError: name 'pandas' is not defined

In [15]:
df3=df3.set_index("Address")
df3

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [29]:
list(df3.loc[:,'City'] )

['San Francisco',
 'San Francisco',
 'San Francisco',
 'San Francisco',
 'San Francisco',
 'San Francisco']

In [31]:
df3

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [4]:
df3

NameError: name 'df3' is not defined